controller:
  replicaCount: 2
  allowSnippetAnnotations: true
  priorityClassName: system-cluster-critical
  updateStrategy:
    rollingUpdate:
      maxUnavailable: 1
    type: RollingUpdate
  config:
    use-forwarded-headers: "true"
    compute-full-forwarded-for: "true"
    enable-brotli: "true"
    server-tokens: "false"
    hsts: "true"
    hsts-max-age: "63072000"
    hsts-include-subdomains: "true"
    proxy-body-size: "1m"
  service:
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
      service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
      service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: "ip"
      service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
    externalTrafficPolicy: Local
    targetPorts:
      http: http
      https: https
  podSecurityContext:
    runAsNonRoot: true
    fsGroup: 101
  containerSecurityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 101
    capabilities:
      drop:
        - ALL
      add:
        - NET_BIND_SERVICE
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 1
      memory: 512Mi
  podDisruptionBudget:
    enabled: true
    minAvailable: 1
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: topology.kubernetes.io/zone
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          app.kubernetes.io/name: ingress-nginx
          app.kubernetes.io/component: controller
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 6
    targetCPUUtilizationPercentage: 60
    targetMemoryUtilizationPercentage: 70
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: kube-prometheus-stack
