controller:
  replicaCount: 2
  allowSnippetAnnotations: true
  config:
    use-forwarded-headers: "true"
    compute-full-forwarded-for: "true"
    enable-brotli: "true"
    server-tokens: "false"
  service:
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
      service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
      service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: "ip"
      service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
    targetPorts:
      http: http
      https: https
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
