apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ .Values.name | default (include "cluster-issuer.fullname" .) }}
  labels:
    {{- include "cluster-issuer.labels" . | nindent 4 }}
spec:
  acme:
    email: {{ required "email is required" .Values.email }}
    server: {{ .Values.server | default "https://acme-v02.api.letsencrypt.org/directory" }}
    privateKeySecretRef:
      name: {{ .Values.privateKeySecretName | default "acme-account-key" }}
    solvers:
      - dns01:
          route53:
            region: {{ required "region is required" .Values.region | quote }}
            hostedZoneID: {{ required "hostedZoneID is required" .Values.hostedZoneID | quote }}
            {{- if .Values.roleARN }}
            role: {{ .Values.roleARN | quote }}
            {{- end }}
        {{- if .Values.zones }}
        selector:
          dnsZones:
            {{- range .Values.zones }}
            - {{ . | quote }}
            {{- end }}
        {{- end }}
